[ req ]
default_bits       = 2048
distinguished_name = req_distinguished_name
req_extensions     = req_ext
[ req_distinguished_name ]
countryName 				= Country Name
stateOrProvinceName			= State or Province Name
localityName				= Locality Name
organizationName			= Organization Name
commonName					= Common Name
countryName_default			= SG
stateOrProvinceName_default	= Singapore
localityName_default		= Singapore
organizationName_default	= Nebulas Tree Pte. Ltd.
commonName_default          = pingdev

[ req_ext ]
subjectAltName = @alt_names
[alt_names]
DNS.1 = pingdev
DNS.2 = pingdev.local
DNS.3 = *.pingdev.local
DNS.4 = am
DNS.5 = am.local
DNS.6 = idrepo
DNS.7 = idrepo.local
DNS.8 = cts
DNS.9 = cts.local